<h4>注文履歴詳細</h4>
  <div class='row'>
    <div class='col-8 offset-1'>
      <h6><strong>注文情報</strong></h6>
      <table class="table table-bordered">
        <tr>
          <th>注文日</th>
          <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <th>配送先</th>
          <td>
            〒<%= @order.postal_code %><br>
              <%= @order.address %><br>
              <%= @order.name %>
          </td>
        </tr>
        <tr>
          <th>支払方法</th>
          <td><%= @order.payment_method_i18n %></td>
        </tr>
      </table><br>
      <h6><strong>注文内容</strong></h6>
      <table class="table table-bordered">
        <tr>
          <th>商品</th>
          <th>単価(税込)</th>
          <th>個数</th>
          <th>小計</th>
        </tr>
         <% total = 0 %>
        <% @order_detalis.each do |order_detaili| %>
            <tr>
              <td>
                <%= order_detaili.item.name %>
              </td>
              <td><%= order_detaili.item.add_tax_price.to_s(:delimited) %></td>
              <td><%= order_detaili.amount %></td>
              <td>
                <% subtotal = (order_detaili.item.add_tax_price*order_detaili.amount).to_i %>
                <%= subtotal.to_s(:delimited) %>
               </td>
             </tr>
           <% total += (order_detaili.item.add_tax_price*order_detaili.amount) %>
       <% end %>
    　</table>
    </div>
    
    <div class='col-3'>
      <h6><strong>請求情報</strong></h6>
      <table class="table table-bordered">
           <tr>
             <th>商品合計</th>
             <td><%= total.to_i.to_s(:delimited) %></td>
           </tr>
           <tr>
             <th>送料</th>
              <% @order.shipping_cost = 800 %>
             <td><%= @order.shipping_cost %></td>
            </tr>
            <tr>
              <th>請求金額</th>
              <% @order.total_payment = @order.shipping_cost + total.to_i %>
              <td><%= @order.total_payment.to_s(:delimited) %></td>
            </tr>
      </table>
    </div>
 </div>
 